.App {
  text-align: center;
  width: 30vw;
  margin: 0 auto;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.App-header {
  background-color: #fff;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.overlay-image{
  display: inline-block;
  overflow: hidden;
  width: 30%;
  height: 30%;
  /*position: relative;*/
  /*top: -20%;*/
  /*left: -20%;*/
}
.overlay-children{
  flex-direction: column;
}
.overlay-image img{
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
}
.fade-in{
  animation: fadeIn 1s;
}
@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}
.back-out{
  animation: fadeOut 1s;
}
@keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0;}
}
